/* Colors:
Orange-tan: FF9D48
Orange-red: E8551D
Red: FF3E2D
Pink: E81D69
Violet: FC3EFF
*/


img{
border:none;
}
/* #container{
  width: 95%;
margin: 0 auto;
}
#container{
  background: #FF9D48;
} */
/* Navigation Style */





.navigation{
  	list-style: none;
  	margin: 0;
  	background: #FF3E2D;
      padding: 0;
      display: flex;
  	flex-flow: column;
}

.navigation a {
	text-decoration: none;
	display: block;
	color: white;
    text-align:center;
    padding: 10px;
    border-bottom:1px solid black;
}

.navigation li:last-of-type a{
  border-bottom: none;
}
.navigation a:hover{
  background: black;
}
#contact {
  font-style: italic;
}

h1, h3 {
  font-family: 'Poppins', Helvetica, sans-serif;
}

h1{
  text-decoration: underline;
}

p{
  font-family: 'Playfair',  Georgia, serif;
}
#answer{
  font-weight:bold;
}
.wrapper{
  background:#FF9D48;
}

/*Setting up flexible boxes for our content*/
.wrapper{
  display: flex;
  flex-flow: column wrap;
}
header{
  background: #E8551D;
  display:flex;
  flex: 1;
  width: 100%;

}
#contact{
  display: flex;
  flex:2;
  background: pink;
  width: 100%;
  padding-top: 0px;
}
/* When greater than 800px wide */
@media (min-width:800px) {

.wrapper{
  display: flex;
}

  .navigation{

    	flex-flow: row;
      justify-content: flex-end;
  }

  .navigation a {
    border: none;

  }
.navigation a:hover {
  background: black;
}
  .navigation li:last-of-type a{
  }
header{
display: flex;
width: 50%;
}

#contact{
  display: flex;
  width:50%;
}

.filler{
display: flex;
flex: 2;

}
.image{
  width:45%;
padding-right: 10px;
flex: 1;
}
.joke{
  flex: 3;
}

}
